<h1> Data Visualization with Python </h1>
Amani Abbas

Let's read our data file using Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Canada.csv")

In [4]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [5]:
df.drop(['Type', 'Coverage', 'AREA', 'REG', 'RegName','DEV', 'DevName'], axis=1, inplace=True)

In [6]:
df.head()

,OdName,AreaName,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,16,39,39,47,71,340,496,741,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,1,0,0,0,0,0,1,2,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,80,67,71,69,63,44,69,132,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,0,0,0,0,0,0,2,0,...,0,0,1,1,0,0,0,0,1,1

In [9]:
df.rename(columns={'OdName':'Country','AreaName': 'Continent'}, inplace=True)

In [10]:
df.head()

,Country,Continent,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,16,39,39,47,71,340,496,741,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,1,0,0,0,0,0,1,2,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,80,67,71,69,63,44,69,132,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,0,0,0,0,0,0,2,0,...,0,0,1,1,0,0,0,0,1,1

In [11]:
df.set_index('Country', inplace=True)
years= list(map(str, range(1980, 2014)))
df.head()

,Continent,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,16,39,39,47,71,340,496,741,828,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Europe,1,0,0,0,0,0,1,2,2,...,1450,1223,856,702,560,716,561,539,620,603
Algeria,Africa,80,67,71,69,63,44,69,132,242,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Oceania,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
Andorra,Europe,0,0,0,0,0,0,2,0,0,...,0,0,1,1,0,0,0,0,1,1

In [12]:
df['Total']= df.sum(axis=1)
df.head()

<ipython-input-12-76504661065d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total']=df.sum(axis=1)

,Continent,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,16,39,39,47,71,340,496,741,828,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,1,0,0,0,0,0,1,2,2,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,80,67,71,69,63,44,69,132,242,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,0,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,0,0,0,0,0,0,2,0,0,...,0,1,1,0,0,0,0,1,1,15

## Task 2
### Line Plot

Create a line plot for Denmark

#### Exercise  : Create a line plot for Australia - Red

## Task 3
### Multiple Plots

Create multiple plots - countries: Japan and Malaysia.

#### Exersice: Line Plot Turkey and Switzerland

#### Exercise 2 : Line plot the top 5 countries that contributed the most to immigration to Canada

## Task 4
### Histograms

The immigration distribution from Singapore for years 1980 - 2013

The immigration distribution for Australia, Singapore, and Romania for years 1980 - 2013

#### Exercise : The immigration distribution from Italy, Greece, and Kenya, with transparency 40%

## Task 5
### Bar Chart
### Vertical Bar Plot

Bar Chart - country = Kenya

### Horizontal Bar Plot

List of named colors supported by matplotlib [here](https://matplotlib.org/stable/gallery/color/named_colors.html)

## Task 6
### Pie Chart

Group countries by continents

Create a pie chart to illustrate numerical proportion of immigrants from each continent

List of named colors supported by matplotlib [here](https://matplotlib.org/stable/gallery/color/named_colors.html)

#### Exercise : Pie chart - continents - 1980

## Task 7
### Box Plot

Create a box plot for Ireland

Multiple datasets - Venezuela (Bolivarian Republic of) and Cuba

Exercise: Create a box plot for 3 countries ('Guyana', 'Haiti', 'Mexico') , color = red

## Task 8
### Sactter Plot

The correlation between two variables; years, and total number of immigrants

Exercise: Create a scatter plot for the top_5 countries dataset

## Task 9
### Subplots

 2 line plots for Cuba and Jordan

<h1 align='center'> * Congratulations * </h1>